@import 'sass/scm';

@include scm-add-color(orange, #e67e22);
@include scm-add-variant(fade, rgba, .5);
@include scm-add-variant(light-alt, mix, (white 40%));


.test {
	color: scm(orange);
	border-color: scm(orange, dark);
	background-color: scm(orange, light);
	&:hover {
		color: scm(orange, fade);
		border-color: scm(orange, light-alt);
	}
}